<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test Google DFP{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Our styles -->
        <link rel="stylesheet" href="/style/main.css" >
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            <img alt="Brand" src="/images/logo.jpg">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li {%  if ( category is defined ) and ( category == 'Beauty' ) %}class="active"{% endif %}><a href="{{ path('category', { category: 'Beauty' }) }}">Beauty</a></li>
                            <li {%  if ( category is defined ) and ( category == 'Entertainment' ) %}class="active"{% endif %}><a href="{{ path('category', { category: 'Entertainment' }) }}">Entertainment</a></li>
                            <li {%  if ( category is defined ) and ( category == 'Fashion' ) %}class="active"{% endif %}><a href="{{ path('category', { category: 'Fashion' }) }}">Fashion</a></li>
                            <li {%  if ( category is defined ) and ( category == 'Lifestyle' ) %}class="active"{% endif %}><a href="{{ path('category', { category: 'Lifestyle' }) }}">Lifestyle</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
                        
            {% block body %}{% endblock %}
        </div>

        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
