{% extends 'base.html.twig' %}

{% block title %}Category {{ category }} | Test Google DFP{% endblock %}

{% block body %}
    {% include 'ad/top.html.twig' %}
    
    <h1 class="page-header">{{ category }} <small>category</small></h1>
    <div class="row category">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="row post">
                    <div class="col-md-4 image">
                        <a href="{{ path('article', {category: post.category, article: post.slug}) }}">
                            <img src="{{ post.image }}" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h4><a href="{{ path('article', {category: post.category, article: post.slug}) }}">{{ post.title }}</a></h4>
                        <p>{{ post.description | raw }}</p>
                        <p>
                            <span><b>Category: </b><a href="{{ path('category', { category: post.category }) }}"><span class="label label-primary">{{ post.category }}</span></a></span>
                            <span><b>Published: </b><span class="label label-primary">{{ post.published|date("Y-m-d H:i:s") }}</span></span>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% include 'ad/middle.html.twig' %}
        </div>
    </div>
{% endblock %}